.forecast-card-container {
    width: 35%;
    min-height: 100%;
    background: rgb(28,49,155);
    background: linear-gradient(180deg, rgba(28,49,155,1) 0%, rgba(64,93,230,1) 100%);
    color: var(--grey-7);

    padding: 1.5rem 1rem;
    border-radius: 0.5rem;

    .forecast-title {
        display: none;
    }

    .forecast-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    @media (max-width: 1024px) {
        width: 47.5%;
    }

    @media (max-width: 768px) {
        width: 100%;
    }

    @media (max-width: 426px) {
        border-radius: 0.75rem 0.75rem 0 0;

        .forecast-title {
            display: flex;
            font-size: 1.75rem;
            color: var(--white);
            padding: 0 0 1.75rem 0.5rem;
        }
    }
}
