.forecast-box-container {
    width: calc(50% - 0.5rem);
    padding: 0.75rem 1.25rem;
    background-color: #EDEDED24;
    border-radius: 0.15rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    &:last-child {
        margin: 0 auto;
    }

    .forecast-date {
        font-size: 0.9rem;
    }

    .weather-icon-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 45%;
        }
    }

    .weather-data {
        padding: 0 0.5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2, p {
            font-size: 1.1rem;

            span {
                font-size: 1rem;
            }
        }
    }

    @media (max-width: 1024px) {
        .forecast-date {
            font-size: 0.95rem;
        }

        .weather-data {
            h2, p {
                font-size: 1.15rem;
    
                span {
                    font-size: 1.05rem;
                }
            }
        }
    }

    @media (max-width: 768px) {
        width: calc(33.3% - 0.66rem);

        &:last-child {
            margin: unset;
        }
    }

    @media (max-width: 426px) {
        width: calc(50% - 0.5rem);

        &:last-child {
            margin: 0 auto;
        }
    }
}
