.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;

    .cards-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        padding: 0 10rem;
    }

    .toggle {
        position: absolute;
        right: 2rem;
        top: 2rem;

        display: flex;
        align-items: center;
        gap: 1rem;

        span {
            font-size: 1.15rem;
            color: var(--white);
        }
    }

    @media (max-width: 1024px) {
        gap: 3.5rem;

        .cards-container {
            padding: 0 5rem;
        }

        .toggle {
            top: 3.75rem;
        }
    }

    @media (max-width: 768px) {
        .cards-container {
            flex-direction: column;
        }

        padding-bottom: 4rem;
    }

    @media (max-width: 426px) {
        gap: 1rem;
        padding-bottom: 0;

        .cards-container {
            padding: 0;
        }

        .toggle {
            display: none;
        }
    }
}
