.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    .cards-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        padding: 0 10rem;
    }
}
