.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;

    .cards-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        width: 100%;
        padding: 0 10rem;
    }

    .toggle {
        position: absolute;
        right: 2rem;
        top: 2rem;

        display: flex;
        align-items: center;
        gap: 1rem;

        span {
            font-size: 1.15rrem;
            color: var(--white);
        }
    }
}
