.failed-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        background-color: var(--green-1);
        color: var(--white);
        padding: 1rem;
    }
}