.search-bar-container {
    margin-top: 2rem;
    position: relative;
    padding: 0 20rem;
    width: 100%;

    input {
        z-index: 0;
        padding: 1rem;
        outline: none;
        border: none;
        width: 100%;
        height: 3rem;
        border-radius: 0.5rem;
        
        font-size: 1rem;
    }

    .icon {
        position: absolute; 
        top: 0rem; 
        right: 20rem;

        button {
            border: none;
            background-color: transparent;
            height: 3rem;
            width: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: var(--black);
        }
    }
}
