.search-bar-container {
    margin-top: 2rem;
    position: relative;
    width: 30%;
    border-radius: 2rem;
    // background-color: var(--white);

    input {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        z-index: 0;
        padding: 1rem;
        padding-left: 1.25rem;
        padding-right: 0;
        outline: none;
        border: none;
        width: calc(100% - 3rem);
        height: 3rem;
        font-size: 1rem;
    }

    button {
        position: absolute; 
        top: 0rem; 
        right: 0rem;
        border-radius: 0 50% 50% 0;
        border: none;
        outline: none;
        background-color: var(--white);
        height: 3rem;
        width: 3rem;
        cursor: pointer;

        .search-icon {
            font-size: 0.95rem;
        }

        &:hover {
            .search-icon {
                color: var(--blue);
            }
        }
    }

    .error-text {
        position: absolute;
        top: 4.5rem;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
            color: var(--grey-5);
            user-select: none;
        }
    }

    @media (max-width: 1024px) {
        margin-top: 3rem;
        width: 42.5%;
    }

    @media (max-width: 426px) {
        margin-top: 1.15rem;
        width: 92.5%;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .error-text {
            text-align: center;
            position: unset;
            color: red;
            left: unset;
            transform: unset;
    
            p {
                font-size: 1.1rem;
            }
        }

        input {
            border-radius: 0.5rem 0 0 0.5rem;

            padding: 1.75rem;
            padding-left: 1.25rem;
            padding-right: 0;
            outline: none;
            border: none;
            width: calc(100% - 3.5rem);
            height: 3rem;
            font-size: 1rem;
        }

        button {
            border-radius: 0 0.5rem 0.5rem 0;
            height: 3.5rem;
            width: 3.5rem;

            .search-icon {
                font-size: 1rem;
            }
        }
    }
}
