.weather-card-container {
    width: 37%;
    height: fit-content;
    background: rgb(28,49,155);
    background: linear-gradient(180deg, rgba(28,49,155,1) 0%, rgba(64,93,230,1) 100%);
    color: var(--grey-7);

    padding: 1.5rem 1rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;

    .location {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .icon {
            font-size: 1.15rem;
            margin-top: -0.1rem;
        }

        h2 {
            font-size: 1.25rem;
        }
    }

    .weather-info {
        display: flex;
        align-items: center;
        width: 100%;

        .weather-icon {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 60%;
            }
        }

        .temperature {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                display: flex;
                align-items: center;
                font-size: 4rem;

                span {
                    font-size: 55%;
                }
            }
        }
    }

    .weather-description {
        p {
            font-size: 1.65rem;
        }
    }

    .weather-highlights {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .humidity, .wind-speed {
            padding: 0.75rem 1.25rem;
            background-color: #EDEDED24;
            border-radius: 0.15rem;
        }

        .min-max-temperature {
            display: flex;
            gap: 1rem;

            .max, .min {
                padding: 0.75rem 1.25rem;
                background-color: #EDEDED24;
                border-radius: 0.15rem;
                width: 50%;
                font-size: 1.15rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }

                h2 {
                    font-size: 1.5rem;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 85%;
                    }
                }
            }

            .min {
                h2 {
                    // color: #DDD;
                }
            }
        }

        .humidity {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.15rem;

            p {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

            h2 {
                font-size: 1.5rem;
                display: flex;
                align-items: center;

                span {
                    font-size: 85%;
                }
            }
        }

        .wind-speed {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.15rem;

            p {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

            h2 {
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                gap: 0.35rem;

                span {
                    &:first-child {
                        font-size: 70%;
                    }
            
                    &:nth-child(2) {
                        font-size: 90%;
                    }
                }
            }
        }
    }
}
